
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.4/favicon.ico">-->
    <title>登  录</title>
    <link href="/static/bootstrap-3.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>

  <body style="background: #fff url(/static/image/login-bg.png) center top repeat-y">
    <div class="navbar-fixed-top">
    <backgroud>
    <div class="container">
      <div class="log-theme">
        <h1 class="log-logo"></h1>
        <h2 class="log-title">志 愿 者 活 动 管 理 系 统</h2>
      </div>
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">请  登  录</h2>
        <input class="form-control" name="user" placeholder="Phone number" required autofocus>
        <input type="password" name="pwd" class="form-control" placeholder="Password" required>
        <h4 class="errmsg">{{ login_msg }}</h4>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登  录</button>
        <a class="btn btn-lg btn-success btn-block" href="/register">注  册</a>
      </form>
    </div>
  </body>
</html>